# Printer-specific configuration file
# Last Updated: 8 Nov 2022
#
# This file contains common pin mappings for the BIGTREETECH SKR CR6 # V1.0 motherboard. 
# To use this config, the firmware should be compiled for the STM32F103 with a "28KiB bootloader" and USB communication. 
# Also, select "Enable extra low-level configuration options" and 
# configure "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR CR6.
# Instead, after running "make", copy the generated "out/klipper.bin" file to 
# a file named "firmware.bin" on an SD card and then restart the SKR CR6 V1.0 with that SD card inserted.
# 
# See https://www.klipper3d.org/Config_Reference.html for an explanation of the parameters used in this file.
#
# The Orbiter v1.5 is the extruder defined here by default.
# If using a BMG or CR-6 stock extruder uncomment the relevant section and comment out the Orbiter Extruder
# If using the BMG extruder with a Nema 14 with 10 tooth pinion, change the gear ratio from 51:17 to 51:10
# If using the MicroSwiss Direct Drive extruder, I apologize but I do not know what settings to use here, you will need someone else's help.

[include inputShaper.cfg]
# NOTES: 
# 1. When input Shaper is correctly calibrated for your printer, the max_accel and max_accel_to_decel values can be increased. 
# 2. Without additional tuning, max_accel can be safely increased to 1500 and max_accel_to_decel to 750
# 3. You may want to comment-out the above include instruction, until you have completed the Resonance Compensation process referenced in InputShaper.cfg

[include CR6.cfg]
# NOTE: OPTIONALLY - You can copy the contents of CR6.cfg into this file and remove this include statement.

[include mainsail.cfg]

# [include /home/pi/klipper_config/dgus_display/dgus_display_macros.cfg]
# Include this only if using a klipper-dgus DWIN display with this printer

###############################################################
###################### CONFIGS ################################
###############################################################
[t5uid1]
# Configured to describe the CR6-SE printer
firmware: dgus_reloaded
machine_name: CR6-SE_Klipper
#   The machine name shown on the information page.
brightness: 100
#   The brightness for the touchscreen (as a value from 0 to 100).
x_min: 0
#   This can be used to provide a lower limit (in mm) to X moves done using the
#   touschreen. Movements will still be limited by your [stepper_x]
#   configuration values.
x_max: 235
#   This can be used to provide an upper limit (in mm) to X moves done using the
#   touschreen. Movements will still be limited by your [stepper_x]
#   configuration values.
y_min: 0
#   Same as x_min for the Y axis.
y_max: 245
#   Same as x_max for the Y axis.
z_min: 0
#   Same as x_min for the Z axis.
z_max: 250
#   Same as x_max for the Z axis.


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
endstop_pin: PC0
position_min: -2
position_endstop: -2
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
run_current: 0.580
#hold_current: 0.450
stealthchop_threshold: 999999
uart_address: 0

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 20
endstop_pin: PC1
position_min: 0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.58
#hold_current: 0.450
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -1.0
position_max: 250
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.550
#hold_current: 0.450
stealthchop_threshold: 999999

[probe]
pin: PC14
x_offset: 0.0
y_offset: 0.0
#z_offset: -0.14
speed: 1
lift_speed: 5
samples_tolerance: 0.015
samples_tolerance_retries: 2
samples: 4
samples_result: median  #use the average of the two middle values in the sampled set
activate_gcode:
	TARE_PROBE  # NOTE: The TARE_PROBE MACRO is defined in CR6.cfg

# NOTE: The Optical Switch on the CR6 is currently NOT USED by Klipper.
# This output_pin definition is for commanding the daughterboard processor to TARE the probe
[output_pin probe_tare]
pin: !PA1
value: 1

[output_pin BEEPER_pin]
pin: PB5
#   Beeper pin. This parameter must be provided.
#   PB5 is the BTT SKR CR6 pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 64

# stock extruder
# rotation_distance: 30.4768

# Orbiter extruder
gear_ratio: 7.5:1
rotation_distance: 36.870

# BMG extruder
# gear_ratio: 51:17
# rotation_distance: 23.132

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: PT1000  
#sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: PA0
#control: pid
#pid_Kp: 27.290
#pid_Ki: 1.784
#pid_Kd: 104.383
min_temp: 0
max_temp: 320
min_extrude_temp: 180
pressure_advance = 0.03

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.6
#hold_current: 0.4
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
#control: pid
#pid_Kp: 70
#pid_Ki: 1
#pid_Kd: 1000
min_temp: 0
max_temp: 120

[fan]
pin: PC6
hardware_pwm: True
kick_start_time: 0.5

[controller_fan mainboard_fan]
pin: PC7
hardware_pwm: True

[filament_switch_sensor filament_sensor]
pause_on_runout: false
switch_pin: ^!PC15

[output_pin hotend_LED]
pin: PA13
value: 0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFDB054254353915721557-if00
restart_method: command


[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000
max_accel_to_decel: 750
square_corner_velocity: 5
max_z_velocity: 30
max_z_accel: 600
buffer_time_high: 10

[gcode_arcs]

[firmware_retraction]

[static_digital_output usb_pullup_enable]
pins: !PA14

###############################################################
############### END OF CONFIGS ################################
###############################################################

##### NOTE: WHEN CONFIGURING A NEW SYSTEM, USING THIS FILE:
##### * REMOVE COMMENTS FROM THE ABOVE SETTINGS BEING OVERRIDDEN BELOW!
##### * ENSURE EXTRUDER SECTION ABOVE IS CORRECT FOR YOUR PRINTER
##### * DELETE THESE NOTES AND EVERYTHING BELOW HERE, 
##### * THEN CALIBRATE YOUR OWN PRINTER (i.e. PID both heaters & run PROBE_CALIBRATE)

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.525
#*# pid_ki = 0.730
#*# pid_kd = 1018.263
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.717
#*# pid_ki = 1.829
#*# pid_kd = 104.978
#*#
#*# [bed_mesh <BED_MESH_PLA>]
#*# version = 1
#*# points =
#*# 	  -0.098750, -0.018125, -0.042813, -0.015313, -0.056563
#*# 	  0.048437, -0.000938, 0.052500, -0.067500, -0.015000
#*# 	  -0.013125, 0.127187, 0.021250, -0.028125, -0.044688
#*# 	  0.131250, 0.104375, 0.093750, 0.030937, -0.022188
#*# 	  0.138125, 0.155625, 0.149062, 0.085625, 0.088437
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 10.0
#*# x_count = 5
#*# max_y = 220.0
#*# mesh_x_pps = 3
#*# max_x = 220.0
#*#
#*# [bed_mesh <BED_MESH_PETG>]
#*# version = 1
#*# points =
#*# 	-0.235938, -0.177813, -0.162813, -0.160938
#*# 	-0.093750, -0.052813, -0.163125, -0.138438
#*# 	-0.059375, -0.034063, -0.122500, -0.100000
#*# 	-0.015938, 0.008125, -0.072188, -0.031250
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 3
#*# min_y = 10.0
#*# x_count = 4
#*# max_y = 220.0
#*# mesh_x_pps = 3
#*# max_x = 220.0
#*#
#*# [probe]
#*# z_offset = -0.240
#*#
#*# [bed_mesh <default>]
#*# version = 1
#*# points =
#*# 	-0.224688, -0.119063, -0.109063, -0.104688, -0.216250
#*# 	-0.065938, -0.088438, -0.023750, -0.144688, -0.129063
#*# 	-0.096563, 0.047187, -0.059063, -0.114375, -0.146250
#*# 	0.013125, 0.003125, -0.002813, -0.057188, -0.117813
#*# 	0.011562, 0.037187, 0.045937, -0.010938, -0.015313
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 220.0
#*# min_y = 10.0
#*# max_y = 220.0
